body {

    max-width: 700px;

    margin: auto;

    background-image: url(../../imgs/thanskwallpaper.jpg);

    margin-top: 10%;

    overflow: hidden;

    overflow-x: hidden;

  background-repeat: no-repeat;


}

#card-errors {

    color: rgb(224, 103, 103);

}



form {

    background-color: rgba(0, 0, 0, 0.158);

    padding: 5%;

    border-radius: 5px;

    font-family: 'mbc';

    overflow: hidden;

    overflow-x: hidden;

    

}

.btnSubmit {

    background-color: rgb(32, 214, 87);

    border-color: rgb(32, 214, 87);



}

.btnSubmit span{

    font-size: 20px;

    font-weight: 600;

}

.btnSubmit:hover {

    background-color: rgb(29, 189, 77);

    border-color: rgb(44, 218, 96);

}

.rr:focus {

    -webkit-box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    -moz-box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    border: 0px;

}



.rr {

    border:1px solid rgb(255, 206, 99);

    -webkit-box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    -moz-box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    box-shadow: 0px 0px 0px 0px rgba(240,194,12,1);

    border: 0px;

    font-size: 17px;

}

.names {

    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 700px;

    flex-wrap: wrap;



}

.ss {

    max-width: 300px;

}

.infoafterPay{

  margin-top: 10px;

  color: rgba(255, 255, 255, 0.342);

  text-align: right;

}